
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin-bottom: var(--size-9);
}

.codeBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--size-9);
    gap: var(--size-2);
}

.codeBox{
    border: 2px solid var(--border);
    padding: var(--size-3);
    width: 1000px;
}